* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

li {
    border: 1px solid black;
    list-style: none;
    font-weight: bold;
    margin: 0cm 5%;
}

nav {
    display: flex;
    justify-content: end;
    margin: 0cm 10%;
    border: 1px solid black;
}

.myphoto {
    border: 1px solid black;
    background-color: brown;
    border-radius: 100%;
    width: 40%;
    height: 40%;

}

.photoSection {
    border: 1px solid black;
    width: 50%;
}

ul {
    display: flex;
    margin-top: 6%;
    margin-right: 15%;
    border: 1px solid black;
    font-size: larger;
}

.main p {
    border: 1px solid black;
    padding: 2% 15%;

}

.heading {
    border: 1px solid black;
    padding: 1% 15%;
}

.info {
    width: 38%;
    border: 1px solid black;
    padding: 8% 10%;
}

.main {
    display: flex;

}

.card-title {
    font-size: larger;
}

.btn {
    padding-left: 0.4cm;
    padding-right: 0.4cm;
    padding-top: 0.15cm;
    padding-bottom: 0.2cm;
    border-radius: 1cm;
    border: 1px solid black;
    background-color: white;
}

.sociallink {
    margin-top: 0.5cm;
    display: flex;
    justify-content: end;
    gap: 0.5cm;
}

.card {
    border: 1px solid black;
    border-radius: 0.2cm;
    text-align: center;
    padding: 20px;
    background-color: lightyellow;
}

.Allcards {
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
    padding: 0% 5%;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}