/* CSS attributes */
li {
    border-right: 1px solid white;
    margin-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-image: linear-gradient(to right, green 1%, transparent);
}

.landing-section p {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    padding-right: 45vw;
}

/* Selectors (id's) */
#About a {
    cursor: pointer;
    text-decoration: none;
}

#About p {
    padding-right: 27%;
    margin-right: 75%;
}

#Menue .card img {
    transition: transform 0.3s ease;
}

#Menue .card img:hover {
    transform: scale(1.1);
}

/* Classes and Effects on hover */
.logo {
    width: 15%;
}

.review p {
    padding-right: 0%;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 5px;
}

.btn:hover {
    transition: all 0.8s ease;
    background-color: #ACEBDC;
    cursor: pointer;
    border: 1px solid #ACEBDC;
}

.card-body a {
    color: black;
    cursor: pointer;
}

.card-body a:hover {
    transition: all 0.9s ease;
    color: white;
    background-color: black;
}

.landing-section {
    background-image: url("imgs/fresh chilled coffee2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
        display: inline-block;
    }
}

.shop-now-link:hover {
    background-color: white;
    cursor: pointer;
    border-radius: 17px;
}

.shop-now-link:hover {
    background-color: white;
    cursor: pointer;
    border-radius: 17px;
}

.display-1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 100%;
    padding-top: 200px;
}

li:last-child {
    border-right: none;
    margin-right: 8px;
}

.nav-link:not(.shop-now-link) {
    position: relative;
    transition: all 0.5s ease;
}

.nav-link:not(.shop-now-link)::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: 2px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease;
}

.nav-link:not(.shop-now-link):hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.shop-now-link {
    transition: all 0.4s ease;
}

.container-xxl {
    margin-top: auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.4rem;
    }

    section#About .btn {
        font-size: small !important;
    }

    section#About p {
        font-size: large !important;
    }

    section#About p.Second {
        padding-right: 0px;
        margin-right: 0px;
    }

    span .links {
        padding-right: 10px;
    }

    .display-1 {
        font-size: xx-large;
    }

    .nav-link {
        font-size: small;
    }

    .text-light {
        font-size: small;
        padding-right: 35%;
    }

    a {
        font-size: 0.5rem;
    }

    footer p {
        font-size: small;
        display: inline;
        margin-right: 0;
        padding-right: 0;
    }

    footer a {
        font-size: smaller;
        line-break: auto;
        vertical-align: top;
    }

    footer .fa-linkedin {
        margin-right: 8px;
    }
}